.l
{
    position: relative;
    left: 250px;
}
.p {
    height: 100px;
    width: 100px;
    display: inline-block;
}
.q {
    height: 100px;
    width: 100px;
    display: inline-block;
}
.r {
    height: 100px;
    width: 100px;
    display: inline-block;
}
.s {
    height: 100px;
    width: 100px;
    display: inline-block;
}

