.my {
    color: green;
}
.y {
    position: relative;
    left: 220px;
    
}
.no {
    font-size: 50px;
}
.s {
    color: red;
}
.p {
    color: red;
}
.op {
    float: left;
    display: inline-blo;

}
.pop {
    font-family: 'Anton', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Playfair Display', serif;
font-style: bold;

}
.b {
    font-size: 30px;
}
.bond {
   
    height: 300px;
    width: 300px;
    float: left;
    display: block;
    position: relative;
    left: -20px;
    
}
.nd {
    font-size: 30px ;

}
.this {
    font-family: 'Anton', sans-serif;
    font-family: 'Pacifico', cursive;
    font-family: 'Playfair Display', serif;
    font-style: bold;
}
.mp {
    position: relative;
    left: 600px;
}
.it {
    float: right;
    display: inline;
}